<div class="side-menu">
  <h5>메뉴</h5>
  <hr>
  <a href="/chemistry-score"><i class="bi bi-person-heart"></i>&nbsp;&nbsp;케미 스코어</a>
  <a href="/attendance"><i class="bi bi-calendar-check"></i>&nbsp;&nbsp;출석부</a>
  <a href="/exchange-match"><i class="bi bi-calendar-event"></i>&nbsp;&nbsp;교류전</a>
</div>
<div class="overlay"></div>