<div class="side-menu" style="display: flex; flex-direction: column;">
    
    <!-- 상단 메뉴 그룹 -->
    <div>
        <h5>메뉴</h5>
        <hr>
        <a href="/notice"><i class="bi bi-megaphone"></i>&nbsp;&nbsp;공지</a>
        <a href="/attendance"><i class="bi bi-calendar-check"></i>&nbsp;&nbsp;출석부</a>
        <a href="/member-list"><i class="bi bi-fire"></i>&nbsp;&nbsp;불꽃s</a>
    </div>

    <!-- 하단 메뉴 그룹 (margin-top: auto로 상단 그룹과 분리) -->
    <div style="margin-top: auto;">
        <a href="/admin"><i class="bi bi-gear"></i>&nbsp;&nbsp;관리자</a>
    </div>

</div>
<div class="overlay"></div>
